/venv/
/output/
/data/det.txt
/cocoapi/
/tf-pose-estimation/
/sort/
/data/videos/luta/video1-8-of-293.mp4
/data/videos/luta/video1-14-of-293.mp4
/data/videos/luta/video1-17-of-293.mp4
/data/videos/luta/video1-18-of-293.mp4
/data/videos/luta/video1-19-of-293.mp4
/data/videos/luta/video1-22-of-293.mp4
/data/videos/luta/video1-23-of-293.mp4
/data/videos/luta/video1-24-of-293.mp4
/data/videos/luta/video1-25-of-293.mp4
/data/videos/luta/video1-26-of-293.mp4
/data/videos/luta/video1-27-of-293.mp4
/data/videos/luta/video1-28-of-293.mp4
/data/videos/luta/video1-29-of-293.mp4
/data/videos/luta/video1-35-of-293.mp4
/data/videos/luta/video1-36-of-293.mp4
/data/videos/luta/video1-37-of-293.mp4
/data/videos/luta/video1-38-of-293.mp4
/data/videos/luta/video1-39-of-293.mp4
/data/videos/luta/video1-40-of-293.mp4
/data/videos/luta/video1-41-of-293.mp4
/data/videos/luta/video1-45-of-293.mp4
/data/videos/luta/video1-46-of-293.mp4
/data/videos/luta/video1-49-of-293.mp4
/data/videos/luta/video1-50-of-293.mp4
/data/videos/luta/video1-51-of-293.mp4
/data/videos/luta/video1-55-of-293.mp4
/data/videos/luta/video1-56-of-293.mp4
/data/videos/luta/video1-57-of-293.mp4
/data/videos/luta/video1-58-of-293.mp4
/data/videos/luta/video1-61-of-293.mp4
/data/videos/luta/video1-62-of-293.mp4
/data/videos/luta/video1-63-of-293.mp4
/data/videos/luta/video1-64-of-293.mp4
/data/videos/luta/video1-65-of-293.mp4
/data/videos/luta/video1-66-of-293.mp4
/data/videos/luta/video1-67-of-293.mp4
/data/videos/luta/video1-68-of-293.mp4
/data/videos/luta/video1-69-of-293.mp4
/data/videos/luta/video1-70-of-293.mp4
/data/videos/luta/video1-71-of-293.mp4
/data/videos/luta/video1-72-of-293.mp4
/data/videos/luta/video1-73-of-293.mp4
/data/videos/luta/video1-74-of-293.mp4
/data/videos/luta/video1-75-of-293.mp4
/data/videos/luta/video1-79-of-293.mp4
/data/videos/luta/video1-80-of-293.mp4
/data/videos/luta/video1-81-of-293.mp4
/data/videos/luta/video1-82-of-293.mp4
/data/videos/luta/video1-83-of-293.mp4
/data/videos/luta/video1-84-of-293.mp4
/data/videos/luta/video1-88-of-293.mp4
/data/videos/luta/video1-89-of-293.mp4
/data/videos/luta/video1-94-of-293.mp4
/data/videos/luta/video1-98-of-293.mp4
/data/videos/luta/video1-99-of-293.mp4
/data/videos/luta/video1-140-of-293.mp4
/data/videos/luta/video1-141-of-293.mp4
/data/videos/luta/video1-142-of-293.mp4
/data/videos/luta/video1-146-of-293.mp4
/data/videos/luta/video1-147-of-293.mp4
/data/videos/luta/video1-148-of-293.mp4
/data/videos/luta/video1-149-of-293.mp4
/data/videos/luta/video1-150-of-293.mp4
/data/videos/luta/video1-151-of-293.mp4
/data/videos/luta/video1-152-of-293.mp4
/data/videos/luta/video1-155-of-293.mp4
/data/videos/luta/video1-156-of-293.mp4
/data/videos/luta/video1-157-of-293.mp4
/data/videos/luta/video1-158-of-293.mp4
/data/videos/luta/video1-159-of-293.mp4
/data/videos/luta/video1-160-of-293.mp4
/data/videos/luta/video1-161-of-293.mp4
/data/videos/luta/video1-162-of-293.mp4
/data/videos/luta/video1-163-of-293.mp4
/data/videos/luta/video1-164-of-293.mp4
/data/videos/luta/video1-169-of-293.mp4
/data/videos/luta/video1-170-of-293.mp4
/data/videos/luta/video1-173-of-293.mp4
/data/videos/luta/video1-174-of-293.mp4
/data/videos/luta/video1-175-of-293.mp4
/data/videos/luta/video1-176-of-293.mp4
/data/videos/luta/video1-182-of-293.mp4
/data/videos/luta/video1-183-of-293.mp4
/data/videos/luta/video1-184-of-293.mp4
/data/videos/luta/video1-185-of-293.mp4
/data/videos/luta/video1-186-of-293.mp4
/data/videos/luta/video1-189-of-293.mp4
/data/videos/luta/video1-190-of-293.mp4
/data/videos/luta/video1-191-of-293.mp4
/data/videos/luta/video1-192-of-293.mp4
/data/videos/luta/video1-195-of-293.mp4
/data/videos/luta/video1-196-of-293.mp4
/data/videos/luta/video1-197-of-293.mp4
/data/videos/luta/video1-198-of-293.mp4
/data/videos/luta/video1-199-of-293.mp4
/data/videos/luta/video1-200-of-293.mp4
/data/videos/luta/video1-201-of-293.mp4
/data/videos/luta/video1-204-of-293.mp4
/data/videos/luta/video1-205-of-293.mp4
/data/videos/luta/video1-206-of-293.mp4
/data/videos/luta/video1-207-of-293.mp4
/data/videos/luta/video1-208-of-293.mp4
/data/videos/luta/video1-212-of-293.mp4
/data/videos/luta/video1-213-of-293.mp4
/data/videos/luta/video1-214-of-293.mp4
/data/videos/luta/video1-219-of-293.mp4
/data/videos/luta/video1-220-of-293.mp4
/data/videos/luta/video1-221-of-293.mp4
/data/videos/luta/video1-222-of-293.mp4
/data/videos/luta/video1-226-of-293.mp4
/data/videos/luta/video1-227-of-293.mp4
/data/videos/luta/video1-228-of-293.mp4
/data/videos/luta/video1-233-of-293.mp4
/data/videos/luta/video1-234-of-293.mp4
/data/videos/luta/video1-235-of-293.mp4
/data/videos/luta/video1-239-of-293.mp4
/data/videos/luta/video1-243-of-293.mp4
/data/videos/luta/video1-244-of-293.mp4
/data/videos/luta/video1-245-of-293.mp4
/data/videos/luta/video1-248-of-293.mp4
/data/videos/luta/video1-249-of-293.mp4
/data/videos/luta/video1-250-of-293.mp4
/data/videos/luta/video1-251-of-293.mp4
/data/videos/luta/video1-252-of-293.mp4
/data/videos/luta/video1-253-of-293.mp4
/data/videos/luta/video1-257-of-293.mp4
/data/videos/luta/video1-258-of-293.mp4
/data/videos/luta/video1-266-of-293.mp4
/data/videos/luta/video1-267-of-293.mp4
/data/videos/luta/video1-268-of-293.mp4
/data/videos/luta/video1-272-of-293.mp4
/data/videos/luta/video1-273-of-293.mp4
/data/videos/luta/video1-274-of-293.mp4
/data/videos/luta/video1-275-of-293.mp4
/data/videos/luta/video1-276-of-293.mp4
/data/videos/luta/video1-283-of-293.mp4
/data/videos/luta/video1-284-of-293.mp4
/data/videos/luta/video1-285-of-293.mp4
/data/videos/luta/video1-286-of-293.mp4
/data/videos/luta/video1-287-of-293.mp4
/data/videos/luta/video1-288-of-293.mp4
